<div class="">
  <table width="100%" cellpadding="0" cellspacing="10">
    <tbody>
      <tr>
        <td>
          <img src="../assets/img/uno.gif" alt="">
          <hr>
          <span class="PAPER">{{ PAPER }}</span>
        </td>
        <td>
          <img src="../assets/img/dos.gif" alt="">
          <hr>
          <span>{{ CARPETA }}</span>
        </td>
        <td>
          <img src="../assets/img/tres.jpg" alt="">
          <hr>
          <span>{{ TELEFONO }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <img src="../assets/img/computadora.gif" alt="">
          <hr>
          <span>{{ LAPTOP }}</span>
        </td>
        <td>
          <img src="../assets/img/audifonos.gif" alt="">
          <hr>
          <span>{{ AUDIFONO }}</span>
        </td>
        <td>
          <img src="../assets/img/memoria.gif" alt="">
          <hr>
          <span>{{ MEMORIA }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
